[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "Roman-Blog/public"]
	path = Roman-Blog/public
	url = https://github.com/rfedoruk/Blog-Production-Repo.git
	branch = main
[submodule "Roman-Blog/public/Blog-Production-Repo"]
	path = Roman-Blog/public/Blog-Production-Repo
	url = https://github.com/rfedoruk/Blog-Production-Repo.git
